<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="shortcut icon" href="/img/Favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/src/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <style>
        .top-img {
            width: 100%;
            height: 100%;
            background-image: url(/img/skincare_cream.png);
            background-size: cover;
            background-position: 50% 50%;
        }

        .container {
            display: flex;
            justify-content: center;
            height: 100vh;
            width: auto;
            background-color: rgba(255, 242, 168, 0.959);
        }

        .product_img,
        .desc {
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        .product_img {
            padding-right: 5em;

        }

        .product_img img {
            background-color: rgba(255, 255, 255, 0.288);
            border-radius: 1em;
            padding: 60px;
        }

        .desc {
            width: 30%;
        }

        .btn {
            font-family: inherit;
            margin-top: 2.5em;
            padding: 0.7em;
            border-radius: .5em;
            background-color: rgb(0, 0, 0);
            color: azure;
        }

        .text_under_btn {
            margin-bottom: 0;
            margin-top: .5em;
            font-size: .7em;
        }

        .title {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <header class='header'>
        <%- include("_navbar.ejs") %>
            <div class="top-img"></div>
    </header>
    <div class="container">
        <div class="product_img">
            <img src=<%- product.image%> alt="product" width="400px" height="400px">

            <button class="btn">ADD TO CART</button>
            <p class="text_under_btn">Premium Member: 5% discount</p>
            <p class="text_under_btn">Divibe Member: 10% discount</p>
        </div>
        <div class="desc">
            <p class="title">PRODUCT NAME</p>
            <p class="text">
                <%= product.name%>
            </p>
            <p class="title">PRICE</p>
            <p class="text">
                <%= product.price%>
            </p>
            <p class="title">DESCRIPTION</p>
            <table>
                <% Object.keys(product.description).forEach((key)=> { %>
                    <%- "<tr><td class='title'>" + key + "</td>" ; %>
                        <%- "<td class='text'>" + product?.description[key] + "</td></tr>" ; %>
                            <% }); %>
            </table>
        </div>
    </div>
    <%- include("_footer.ejs" ) %>
</body>

</html>